@inherits LayoutComponentBase

<header class="top-nav">
    <NavMenu />
</header>

<div class="page-body">
    <main>
        <article class="content">
            @Body
        </article>
    </main>
</div>