@inject IJSRuntime JS

<nav class="navbar navbar-expand-sm navbar-dark bg-dark w-100 px-3 tic-navbar">
    <a class="navbar-brand" href="/">
        <img src="/images/LogoJellyfish.png" alt="Thrive In Chaos" class="tic-logo" />
    </a>

    <button class="navbar-toggler" type="button"
            data-bs-toggle="collapse" data-bs-target="#mainNav"
            aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mainNav">
        <ul class="navbar-nav ms-auto tic-nav">
            @*             <NavLink class="nav-item" href="/" Match="NavLinkMatch.All">
                Home
            </NavLink> *@

            <li class="nav-item">
                <NavLink class="nav-link tic-link" href="LineUp">Line-Up</NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link tic-link" href="music">Music</NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link tic-link" href="gigs">See us live</NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link tic-link" href="gallery">Gallery</NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link tic-link" href="contact">Contact</NavLink>
            </li>
        </ul>
    </div>
</nav>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("navbarInitAutoClose");
        }
    }
}
